Flask==2.3.2 #flask as framework 
numpy==1.21.0
pandas==2.0.2
jsonify==0.5
matplotlib==3.7.1
scikit-learn==1.2.2
geopy==2.3.0
requests==2.24.0
psycopg2==2.9.6 #PostgreSQL database adapter
python-dotenv==1.0.0 #.env 